<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
<title>Welcome to ConcordiaEats</title>
<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-container {
	width: 400px; /* Set a fixed width for the form container */
	max-width: 100%; /* Ensure it doesn't overflow on small screens */
}
</style>
</head>
<body>
	<div class="form-container text-center">
		<img class="mx-auto d-block"
			th:src="@{/images/ConcordiaEats-Logo.svg}"
			src="/images/ConcordiaEats-Logo.svg" height="180">
		<h2 style="color: #912338;">
			ConcordiaEats <br> User Login
		</h2>
		<div th:if="${errorMessage}">
			<p th:text="${errorMessage}" style="color: red;"></p>
		</div>
		<form action="/login" method="post">
			<div class="form-group">
				<label for="username">Username</label> <input type="text"
					name="username" id="username" placeholder="Username*" required
					class="form-control form-control-lg">
			</div>
			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					class="form-control form-control-lg" placeholder="Password*"
					required name="password" id="password">
			</div>
			<input type="submit" value="Login" class="btn btn-primary btn-block">
		</form>
		<br>
		<div>
			<span>Don't have an account? <a class="linkControl"
				href="/register">Register here</a></span>


		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
