<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<!-- DataTables CSS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Updated jQuery -->
<script
	src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<!-- DataTables JS -->
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles.css">
<title>Search</title>
</head>

<body>
	<!-- NAV -->
	<nav class="navbar navbar-expand-md navbar-dark sticky-top">
		<div class="container-fluid">
			<div class="d-flex">
				<img src="/images/ConcordiaEats-Logo-BW.svg" width="auto"
					height="40" />
				<h4 class="my-auto">Let's Go Dining</h4>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end"
				id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/customerMain">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/customerCategories">Categories</a></li>
					<li class="nav-item"><a class="nav-link active" href="/search">Search</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/cart">Cart</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="/profileDisplay">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- NAV -->
	<br>
	<br>

	<!-- Custom Min and Max Price Input Fields -->
	<div
		class="container-fluid d-flex justify-content-end align-items-center mb-3">
		<label for="minPrice" class="mr-1">Min Price:</label> <input
			type="number" id="minPrice" class="form-control mr-3"
			placeholder="Min Price" style="width: 100px;"> <label
			for="maxPrice" class="mr-1">Max Price:</label> <input type="number"
			id="maxPrice" class="form-control mr-0" placeholder="Max Price"
			style="width: 100px;">
	</div>

	<div class="container-fluid">
		<table id="searchTable" class="table">
			<thead>
				<tr>
					<th scope="col">Serial No.</th>
					<th scope="col">Product Name</th>
					<th scope="col">Category</th>
					<th scope="col">Preview</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Weight</th>
					<th scope="col">Description</th>
					<th scope="col">Buy</th>
				</tr>
			</thead>
			<tbody>
				<!-- Use Thymeleaf to iterate over the mealProducts list -->
				<tr th:each="search : ${searchResults}">
					<td th:text="${search.id}"></td>
					<td th:text="${search.name}"></td>
					<td th:text="${categoryNames[search.categoryid]}"></td>
					<td><img th:src="${search.image}" height="100px" width="100px"></td>
					<td th:text="${search.quantity}"></td>
					<td th:text="${search.price}"></td>
					<td th:text="${search.weight}"></td>
					<td th:text="${search.description}"></td>
					<td>
						<form action="/buy" method="get">
							<input type="hidden" name="id" th:value="${search.id}"> <input
								type="submit" value="Buy" class="btn btn-info btn-lg">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Scripts -->
	<script>
		$(document).ready(
				function() {
					var table = $('#searchTable').DataTable();

					// Custom search function for Price column
					$.fn.dataTable.ext.search.push(function(settings,
							searchData, index, rowData, counter) {
						var minPrice = parseFloat($('#minPrice').val())
								|| -Infinity;
						var maxPrice = parseFloat($('#maxPrice').val())
								|| Infinity;
						var price = parseFloat(searchData[5]) || 0; // 5th column (Price)
						return price >= minPrice && price <= maxPrice;
					});

					// Redraw the table when the Min/Max Price inputs change
					$('#minPrice, #maxPrice').on('keyup change', function() {
						table.draw();
					});
				});
	</script>

</body>
</html>


